/* Importing the fonts */
@font-face {
    font-family: "Optima";
    src: url("../Fonts/Optima.TTF");
    src: url("../Fonts/Optima - Bold.TTF");
    src: url("../Fonts/Optima - Italic.ttf");
    src: url("../Fonts/Optima - Medium.ttf");
}
@font-face {
    font-family: "Century Gothic";
    src: url("../Fonts/Century Gothic.ttf");
}
:root {
    /* Declaration of the variables */
    --vertical: 100%;
    --horizontal: 100%;
    --fontSize: 100%;
    --optima: "Optima";
    --centuryGothic: "Century Gothic";
    --color1: rgb(167, 169, 172);
    --color2: rgb(0, 125, 190);
    --color3: rgb(0, 88, 138);
    --color4: rgb(0, 171, 189);
    --color5: rgb(84, 198, 211);
    --color6: rgb(0, 183, 199);
    --color7: rgb(35, 31, 32);
    --color8: rgb(99, 100, 102);
    --color9: rgb(255, 255, 255);
    --color10: rgb(0, 0, 0);
    --height: 768px;
    --width: 1366px;
}
/* Styling of the body */
* {
    margin: calc(var(--vertical) * 0);
    font-size: var(--fontSize);
    font-family: var(--optima), var(--centuryGothic);
    width: var(--horizontal);
}
/* Styling for the header */
header,
header nav {
    width: var(--horizontal);
}
header #top,
header #bottom {
    display: flex;
}
header #bottom {
    background-color: var(--color7);
}
header #top div,
header #bottom div {
    text-align: center;
}
header #top div {
    width: calc(var(--horizontal) / 3);
}
header #top div #event,
header #top div #venue,
header #top div #date {
    width: var(--horizontal);
    font-weight: bold;
    font-family: var(--centuryGothic);
    margin: calc(var(--vertical) * 0.02) calc(var(--horizontal) * 0);
}
header #top div #venue #organization {
    text-transform: uppercase;
}
header #top div #venue div {
    width: var(--horizontal);
    color: var(--color4);
    margin: calc(var(--vertical) * 0.01) calc(var(--horizontal) * 0);
}
header #top #organizationLogo,
header #top #icacieLogo {
    display: flex;
    align-items: center;
    justify-content: center;
}
header #bottom div {
    width: calc(var(--horizontal) / 10);
    margin: calc(var(--vertical) * 0.01) calc(var(--horizontal) * 0);
}
header #bottom div a {
    text-decoration: none;
    color: var(--color5);
}
header #bottom div a:hover {
    text-decoration: underline;
    color: var(--color1);
}
/* Styling for the main */
main {
    width: var(--horizontal);
}
main h1,
main #patron h1,
main #advisoryCommittee h1,
main #organizingChair h1,
main #websiteChairs h1,
main #publicationChairs h1,
main #publicityChairs h1,
main #sponsorshipChairs h1,
main #financeChairs h1,
main #registrationChairs h1,
main #panelChairs h1,
main #industryExpoChairs h1,
main #studentResearchForumChairs h1,
main #womenInEngineeringChairs h1,
main #specialSessionChairs h1,
main #specialSessionCommitteeMembers h1 {
    font-family: var(--centuryGothic);
    font-weight: bold;
    color: var(--color4);
    width: calc(var(--horizontal) * 0.98);
    border-bottom: calc(var(--height) * (1 / 768)) solid var(--color8);
}
main h1,
main #patron,
main #advisoryCommittee,
main #generalChairs,
main #honoraryGeneralChairs,
main #organizingChair,
main #websiteChairs,
main #publicationChairs,
main #publicityChairs,
main #sponsorshipChairs,
main #financeChairs,
main #registrationChairs,
main #panelChairs,
main #industryExpoChairs,
main #studentResearchForumChairs,
main #womenInEngineeringChairs,
main #specialSessionChairs,
main #specialSessionCommitteeMembers {
    margin: calc(var(--vertical) * 0) calc(var(--horizontal) * 0.01);
    padding-bottom: calc(var(--vertical) * 0.01);
}
main #patron,
main #advisoryCommittee,
main #generalChairs,
main #honoraryGeneralChairs,
main #organizingChair,
main #websiteChairs,
main #publicationChairs,
main #publicityChairs,
main #sponsorshipChairs,
main #financeChairs,
main #registrationChairs,
main #panelChairs,
main #industryExpoChairs,
main #studentResearchForumChairs,
main #womenInEngineeringChairs,
main #specialSessionChairs,
main #specialSessionCommitteeMembers {
    border-bottom: calc(var(--height) * (1 / 768)) solid var(--color8);
    width: calc(var(--horizontal) * 0.98);
}
main #patron h1,
main #advisoryCommittee h1,
main #generalChairs h1,
main #honoraryGeneralChairs h1,
main #organizingChair h1,
main #websiteChairs h1,
main #publicationChairs h1,
main #publicityChairs h1,
main #sponsorshipChairs h1,
main #financeChairs h1,
main #registrationChairs h1,
main #panelChairs h1,
main #industryExpoChairs h1,
main #studentResearchForumChairs h1,
main #womenInEngineeringChairs h1,
main #specialSessionChairs h1,
main #specialSessionCommitteeMembers h1 {
    padding-bottom: calc(var(--vertical) * 0.006561);
    margin: calc(var(--vertical) * 0);
    border: none;
}
main #patron .patron,
main #advisoryCommittee .advisoryCommittee,
main #generalChairs .generalChairs,
main #honoraryGeneralChairs .honoraryGeneralChairs,
main #organizingChair .organizingChair,
main #websiteChairs .websiteChairs,
main #publicationChairs .publicationChairs,
main #publicityChairs .publicityChairs,
main #sponsorshipChairs .sponsorshipChairs,
main #financeChairs .financeChairs,
main #registrationChairs .registrationChairs,
main #panelChairs .panelChairs,
main #industryExpoChairs .industryExpoChairs,
main #studentResearchForumChairs .studentResearchForumChairs,
main #womenInEngineeringChairs .womenInEngineeringChairs,
main #specialSessionChairs .specialSessionChairs,
main #specialSessionCommitteeMembers .specialSessionCommitteeMembers {
    width: calc(var(--horizontal) * 0.98);
    margin: calc(var(--vertical) * 0);
    display: flex;
}
main #patron .patron div,
main #advisoryCommittee .advisoryCommittee div,
main #generalChairs .generalChairs div,
main #honoraryGeneralChairs .honoraryGeneralChairs div,
main #organizingChair .organizingChair div,
main #websiteChairs .websiteChairs div,
main #publicationChairs .publicationChairs div,
main #publicityChairs .publicityChairs div,
main #sponsorshipChairs .sponsorshipChairs div,
main #financeChairs .financeChairs div,
main #registrationChairs .registrationChairs div,
main #panelChairs .panelChairs div,
main #industryExpoChairs .industryExpoChairs div,
main #studentResearchForumChairs .studentResearchForumChairs div,
main #womenInEngineeringChairs .womenInEngineeringChairs div,
main #specialSessionChairs .specialSessionChairs div,
main #specialSessionCommitteeMembers .specialSessionCommitteeMembers div {
    font-family: var(--optima);
}
main #patron .patron .name,
main #advisoryCommittee .advisoryCommittee .name,
main #generalChairs .generalChairs .name,
main #honoraryGeneralChairs .honoraryGeneralChairs .name,
main #organizingChair .organizingChair .name,
main #websiteChairs .websiteChairs .name,
main #publicationChairs .publicationChairs .name,
main #publicityChairs .publicityChairs .name,
main #sponsorshipChairs .sponsorshipChairs .name,
main #financeChairs .financeChairs .name,
main #registrationChairs .registrationChairs .name,
main #panelChairs .panelChairs .name,
main #industryExpoChairs .industryExpoChairs .name,
main #studentResearchForumChairs .studentResearchForumChairs .name,
main #womenInEngineeringChairs .womenInEngineeringChairs .name,
main #specialSessionChairs .specialSessionChairs .name,
main #specialSessionCommitteeMembers .specialSessionCommitteeMembers .name {
    font-family: var(--centuryGothic);
    font-weight: bold;
    margin-right: calc(var(--horizontal) * 0.01);
}
/* Styling of the footer */
footer {
    background-color: var(--color7);
    padding: calc(var(--vertical) * 0.01) calc(var(--horizontal) * 0);
}
footer nav {
    width: var(--horizontal);
    display: flex;
    justify-content: space-between;
}
footer nav a {
    opacity: 0.5;
    text-decoration: none;
    text-align: center;
}
footer nav a:hover {
    opacity: 1;
}
footer nav .faFacebook,
footer nav .faLinkedIn,
footer nav .faCalendar {
    color: var(--color9);
}
footer div {
    color: var(--color9);
    font-size: var(--fontSize);
    text-align: center;
}
/* Media queries for Desktop */
@media screen and (min-width: 1024px) {
    /* Styling for the header */
    header #top div #event {
        font-size: calc(var(--fontSize) * 1.1);
    }
    header #top div #venue #organization {
        font-size: calc(var(--fontSize) * 1.331);
    }
    header #top div #venue div {
        font-size: calc(var(--fontSize) * 0.729);
    }
    header #top #organizationLogo a img,
    header #top #icacieLogo a img {
        width: calc(var(--horizontal) * 0.478297);
        height: auto;
    }
    header #bottom div a {
        font-size: calc(var(--fontSize) * 0.81);
    }
    header #top div #date {
        font-size: var(--fontSize);
    }
    /* Styling for the main */
    main h1 {
        font-size: calc(var(--fontSize) * 1.8);
    }
    main #patron .patron div,
    main #advisoryCommittee .advisoryCommittee div,
    main #generalChairs .generalChairs div,
    main #honoraryGeneralChairs .honoraryGeneralChairs div,
    main #organizingChair .organizingChair div,
    main #websiteChairs .websiteChairs div,
    main #publicationChairs .publicationChairs div,
    main #publicityChairs .publicityChairs div,
    main #sponsorshipChairs .sponsorshipChairs div,
    main #financeChairs .financeChairs div,
    main #registrationChairs .registrationChairs div,
    main #panelChairs .panelChairs div,
    main #industryExpoChairs .industryExpoChairs div,
    main #studentResearchForumChairs .studentResearchForumChairs div,
    main #womenInEngineeringChairs .womenInEngineeringChairs div,
    main #specialSessionChairs .specialSessionChairs div,
    main #specialSessionCommitteeMembers .specialSessionCommitteeMembers div {
        width: calc(var(--horizontal) * 0.8);
    }
    main #patron .patron .name,
    main #advisoryCommittee .advisoryCommittee .name,
    main #generalChairs .generalChairs .name,
    main #honoraryGeneralChairs .honoraryGeneralChairs .name,
    main #organizingChair .organizingChair .name,
    main #websiteChairs .websiteChairs .name,
    main #publicationChairs .publicationChairs .name,
    main #publicityChairs .publicityChairs .name,
    main #sponsorshipChairs .sponsorshipChairs .name,
    main #financeChairs .financeChairs .name,
    main #registrationChairs .registrationChairs .name,
    main #panelChairs .panelChairs .name,
    main #industryExpoChairs .industryExpoChairs .name,
    main #studentResearchForumChairs .studentResearchForumChairs .name,
    main #womenInEngineeringChairs .womenInEngineeringChairs .name,
    main #specialSessionChairs .specialSessionChairs .name,
    main #specialSessionCommitteeMembers .specialSessionCommitteeMembers .name {
        width: calc(var(--horizontal) * 0.19);
    }
    main #patron h1,
    main #advisoryCommittee h1,
    main #generalChairs h1,
    main #honoraryGeneralChairs h1,
    main #organizingChair h1,
    main #websiteChairs h1,
    main #publicationChairs h1,
    main #publicityChairs h1,
    main #sponsorshipChairs h1,
    main #financeChairs h1,
    main #registrationChairs h1,
    main #panelChairs h1,
    main #industryExpoChairs h1,
    main #studentResearchForumChairs h1,
    main #womenInEngineeringChairs h1,
    main #specialSessionChairs h1,
    main #specialSessionCommitteeMembers h1 {
        font-size: calc(var(--fontSize) * 1.3122);
    }
    /* Styling for the footer */
    footer nav {
        font-size: calc(var(--fontSize) * 2);
    }
    footer nav a img {
        width: auto;
        height: calc(var(--height) * 0.05);
    }
}
/* Media queries for #sponsort */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Styling for the header */
    header #top div #event {
        font-size: calc(var(--fontSize) * 0.8019);
    }
    header #top div #venue #organization {
        font-size: calc(var(--fontSize) * 0.970299);
    }
    header #top div #venue div {
        font-size: calc(var(--fontSize) * 0.531441);
    }
    header #top #organizationLogo a img,
    header #top #icacieLogo a img {
        width: calc(var(--horizontal) * 0.636613307);
        height: auto;
    }
    header #bottom div a {
        font-size: calc(var(--fontSize) * 0.59049);
    }
    header #top div #date {
        font-size: calc(var(--fontSize) * 0.729);
    }
    /* Styling for the main */
    main h1 {
        font-size: calc(var(--fontSize) * 1.3122);
    }
    main #patron .patron div,
    main #advisoryCommittee .advisoryCommittee div,
    main #generalChairs .generalChairs div,
    main #honoraryGeneralChairs .honoraryGeneralChairs div,
    main #organizingChair .organizingChair div,
    main #websiteChairs .websiteChairs div,
    main #publicationChairs .publicationChairs div,
    main #publicityChairs .publicityChairs div,
    main #sponsorshipChairs .sponsorshipChairs div,
    main #financeChairs .financeChairs div,
    main #registrationChairs .registrationChairs div,
    main #panelChairs .panelChairs div,
    main #industryExpoChairs .industryExpoChairs div,
    main #studentResearchForumChairs .studentResearchForumChairs div,
    main #womenInEngineeringChairs .womenInEngineeringChairs div,
    main #specialSessionChairs .specialSessionChairs div,
    main #specialSessionCommitteeMembers .specialSessionCommitteeMembers div {
        width: calc(var(--horizontal) * 0.65340341);
        font-size: calc(var(--fontSize) * 0.729);
    }
    main #patron .patron .name,
    main #advisoryCommittee .advisoryCommittee .name,
    main #generalChairs .generalChairs .name,
    main #honoraryGeneralChairs .honoraryGeneralChairs .name,
    main #organizingChair .organizingChair .name,
    main #websiteChairs .websiteChairs .name,
    main #publicationChairs .publicationChairs .name,
    main #publicityChairs .publicityChairs .name,
    main #sponsorshipChairs .sponsorshipChairs .name,
    main #financeChairs .financeChairs .name,
    main #registrationChairs .registrationChairs .name,
    main #panelChairs .panelChairs .name,
    main #industryExpoChairs .industryExpoChairs .name,
    main #studentResearchForumChairs .studentResearchForumChairs .name,
    main #womenInEngineeringChairs .womenInEngineeringChairs .name,
    main #specialSessionChairs .specialSessionChairs .name,
    main #specialSessionCommitteeMembers .specialSessionCommitteeMembers .name {
        width: calc(var(--horizontal) * 0.33659659);
    }
    main #patron h1,
    main #advisoryCommittee h1,
    main #generalChairs h1,
    main #honoraryGeneralChairs h1,
    main #organizingChair h1,
    main #websiteChairs h1,
    main #publicationChairs h1,
    main #publicityChairs h1,
    main #sponsorshipChairs h1,
    main #financeChairs h1,
    main #registrationChairs h1,
    main #panelChairs h1,
    main #industryExpoChairs h1,
    main #studentResearchForumChairs h1,
    main #womenInEngineeringChairs h1,
    main #specialSessionChairs h1,
    main #specialSessionCommitteeMembers h1 {
        font-size: calc(var(--fontSize) * 0.9565938);
    }
    /* Styling of the footer */
    footer nav {
        font-size: calc(var(--fontSize) * 1.458);
    }
    footer nav a img {
        width: auto;
        height: calc(var(--height) * 0.03645);
    }
}
/* Media queries for Mobile */
@media screen and (max-width: 767px) {
    /* Styling for the header */
    header #top div #event {
        font-size: calc(var(--fontSize) * 0.5845851);
    }
    header #top div #venue #organization {
        font-size: calc(var(--fontSize) * 0.707347971);
    }
    header #top div #venue div {
        font-size: calc(var(--fontSize) * 0.387420489);
    }
    header #top #organizationLogo a img,
    header #top #icacieLogo a img {
        width: calc(var(--horizontal) * 0.847332311);
        height: auto;
    }
    header #bottom div a {
        font-size: calc(var(--fontSize) * 0.43046721);
    }
    header #top div #date {
        font-size: calc(var(--fontSize) * 0.531441);
    }
    /* Styling for the main */
    main h1 {
        font-size: calc(var(--fontSize) * 0.9565938);
    }
    main #patron .patron div,
    main #advisoryCommittee .advisoryCommittee div,
    main #generalChairs .generalChairs div,
    main #honoraryGeneralChairs .honoraryGeneralChairs div,
    main #organizingChair .organizingChair div,
    main #websiteChairs .websiteChairs div,
    main #publicationChairs .publicationChairs div,
    main #publicityChairs .publicityChairs div,
    main #sponsorshipChairs .sponsorshipChairs div,
    main #financeChairs .financeChairs div,
    main #registrationChairs .registrationChairs div,
    main #panelChairs .panelChairs div,
    main #industryExpoChairs .industryExpoChairs div,
    main #studentResearchForumChairs .studentResearchForumChairs div,
    main #womenInEngineeringChairs .womenInEngineeringChairs div,
    main #specialSessionChairs .specialSessionChairs div,
    main #specialSessionCommitteeMembers .specialSessionCommitteeMembers div {
        width: calc(var(--horizontal) * 0.590823035);
        font-size: calc(var(--fontSize) * 0.43046721);
    }
    main #patron .patron .name,
    main #advisoryCommittee .advisoryCommittee .name,
    main #generalChairs .generalChairs .name,
    main #honoraryGeneralChairs .honoraryGeneralChairs .name,
    main #organizingChair .organizingChair .name,
    main #websiteChairs .websiteChairs .name,
    main #publicationChairs .publicationChairs .name,
    main #publicityChairs .publicityChairs .name,
    main #sponsorshipChairs .sponsorshipChairs .name,
    main #financeChairs .financeChairs .name,
    main #registrationChairs .registrationChairs .name,
    main #panelChairs .panelChairs .name,
    main #industryExpoChairs .industryExpoChairs .name,
    main #studentResearchForumChairs .studentResearchForumChairs .name,
    main #womenInEngineeringChairs .womenInEngineeringChairs .name,
    main #specialSessionChairs .specialSessionChairs .name,
    main #specialSessionCommitteeMembers .specialSessionCommitteeMembers .name {
        width: calc(var(--horizontal) * 0.399176964);
    }
    main #patron h1,
    main #advisoryCommittee h1,
    main #generalChairs h1,
    main #honoraryGeneralChairs h1,
    main #organizingChair h1,
    main #websiteChairs h1,
    main #publicationChairs h1,
    main #publicityChairs h1,
    main #sponsorshipChairs h1,
    main #financeChairs h1,
    main #registrationChairs h1,
    main #panelChairs h1,
    main #industryExpoChairs h1,
    main #studentResearchForumChairs h1,
    main #womenInEngineeringChairs h1,
    main #specialSessionChairs h1,
    main #specialSessionCommitteeMembers h1 {
        font-size: calc(var(--fontSize) * 0.69735688);
    }
    /* Styling of the footer */
    footer nav {
        font-size: calc(var(--fontSize) * 1.062882);
    }
    footer nav a img {
        width: auto;
        height: calc(var(--height) * 0.02657205);
    }
}
