/* Importing the fonts */
@font-face {
    font-family: "Optima";
    src: url("../Fonts/Optima.TTF");
    src: url("../Fonts/Optima - Bold.TTF");
    src: url("../Fonts/Optima - Italic.ttf");
    src: url("../Fonts/Optima - Medium.ttf");
}
@font-face {
    font-family: "Century Gothic";
    src: url("../Fonts/Century Gothic.ttf");
}
:root {
    /* Declaration of the variables */
    --vertical: 100%;
    --horizontal: 100%;
    --fontSize: 100%;
    --optima: "Optima";
    --centuryGothic: "Century Gothic";
    --color1: rgb(167, 169, 172);
    --color2: rgb(0, 125, 190);
    --color3: rgb(0, 88, 138);
    --color4: rgb(0, 171, 189);
    --color5: rgb(84, 198, 211);
    --color6: rgb(0, 183, 199);
    --color7: rgb(35, 31, 32);
    --color8: rgb(99, 100, 102);
    --color9: rgb(255, 255, 255);
    --color10: rgb(0, 0, 0);
    --height: 768px;
    --width: 1366px;
}
/* Styling of the body */
* {
    margin: calc(var(--vertical) * 0);
    font-size: var(--fontSize);
    font-family: var(--optima), var(--centuryGothic);
    width: var(--horizontal);
}
/* Styling for the header */
header,
header nav {
    width: var(--horizontal);
}
header #top,
header #bottom {
    display: flex;
}
header #bottom {
    background-color: var(--color7);
}
header #top div,
header #bottom div {
    text-align: center;
}
header #top div {
    width: calc(var(--horizontal) / 3);
}
header #top div #event,
header #top div #venue,
header #top div #date {
    width: var(--horizontal);
    font-weight: bold;
    font-family: var(--centuryGothic);
    margin: calc(var(--vertical) * 0.02) calc(var(--horizontal) * 0);
}
header #top div #venue #organization {
    text-transform: uppercase;
}
header #top div #venue div {
    width: var(--horizontal);
    color: var(--color4);
    margin: calc(var(--vertical) * 0.01) calc(var(--horizontal) * 0);
}
header #top #organizationLogo,
header #top #icacieLogo {
    display: flex;
    align-items: center;
    justify-content: center;
}
header #bottom div {
    width: calc(var(--horizontal) / 10);
    margin: calc(var(--vertical) * 0.01) calc(var(--horizontal) * 0);
}
header #bottom div a {
    text-decoration: none;
    color: var(--color5);
}
header #bottom div a:hover {
    text-decoration: underline;
    color: var(--color1);
}
/* Styling for the main */
main {
    width: var(--horizontal);
}
main h1 {
    font-family: var(--centuryGothic);
    color: var(--color2);
    text-align: center;
    border-bottom: 1px solid var(--color8);
    padding-bottom: calc(var(--vertical) * 0.01);
}
main form {
    width: calc(var(--horizontal) * 0.9);
    background-color: var(--color8);
}
main form #firstName,
main form #lastName,
main form #mailAddress,
main form #institution,
main form #telephoneNumber,
main form #subject,
main form #message {
    display: flex;
    padding: calc(var(--vertical) * 0.005) calc(var(--horizontal) * 0);
}
main form #firstName label,
main form #firstName input[type="text"],
main form #lastName label,
main form #lastName input[type="text"],
main form #mailAddress label,
main form #mailAddress input[type="email"],
main form #sendButton input[type="submit"],
main form #institution label,
main form #institution input[type="text"],
main form #telephoneNumber label,
main form #telephoneNumber input[type="tel"],
main form #subject label,
main form #subject input[type="text"],
main form #message label,
main form #message input[type="text"] {
    font-family: var(--centuryGothic);
    font-weight: bold;
}
main form #sendButton {
    display: flex;
    justify-content: center;
}
main form #sendButton input[type="submit"] {
    width: unset;
    color: var(--color8);
    background-color: var(--color4);
    border: none;
    padding: calc(var(--vertical) * 0.006078832)
        calc(var(--horizontal) * 0.012157665);
    cursor: pointer;
}
main form #sendButton input[type="submit"]:hover {
    color: var(--color4);
    background-color: var(--color8);
}
/* Styling of the footer */
footer {
    background-color: var(--color7);
    padding: calc(var(--vertical) * 0.01) calc(var(--horizontal) * 0);
}
footer nav {
    width: var(--horizontal);
    display: flex;
    justify-content: space-between;
}
footer nav a {
    opacity: 0.5;
    text-decoration: none;
    text-align: center;
}
footer nav a:hover {
    opacity: 1;
}
footer nav .faFacebook,
footer nav .faLinkedIn {
    color: var(--color9);
}
footer div {
    color: var(--color9);
    font-size: var(--fontSize);
    text-align: center;
}
/* Media queries for Desktop */
@media screen and (min-width: 1024px) {
    /* Styling for the header */
    header #top div #event {
        font-size: calc(var(--fontSize) * 1.1);
    }
    header #top div #venue #organization {
        font-size: calc(var(--fontSize) * 1.331);
    }
    header #top div #venue div {
        font-size: calc(var(--fontSize) * 0.729);
    }
    header #top #organizationLogo a img,
    header #top #icacieLogo a img {
        width: calc(var(--horizontal) * 0.478297);
        height: auto;
    }
    header #bottom div {
        font-size: calc(var(--fontSize) * 0.9);
    }
    header #top div #date {
        font-size: var(--fontSize);
    }
    /* Styling for the main */
    main h1 {
        font-size: calc(var(--fontSize) * 2);
    }
    main form {
        padding: calc(var(--vertical) * 0.01) calc(var(--horizontal) * 0.05);
    }
    main form #firstName label,
    main form #lastName label,
    main form #mailAddress label,
    main form #institution label,
    main form #telephoneNumber label,
    main form #subject label,
    main form #message label {
        width: calc(var(--horizontal) * 0.149215376);
    }
    main form #firstName input[type="text"],
    main form #lastName input[type="text"],
    main form #mailAddress input[type="email"],
    main form #institution input[type="text"],
    main form #telephoneNumber input[type="tel"],
    main form #subject input[type="text"],
    main form #message input[type="text"] {
        width: calc(var(--horizontal) * 0.90734899);
    }
    /* Styling for the footer */
    footer img {
        width: auto;
        height: calc(var(--height) * 0.1);
    }
}
/* Media queries for Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Styling for the header */
    header #top div #event {
        font-size: calc(var(--fontSize) * 0.8019);
    }
    header #top div #venue #organization {
        font-size: calc(var(--fontSize) * 0.970299);
    }
    header #top div #venue div {
        font-size: calc(var(--fontSize) * 0.531441);
    }
    header #top #organizationLogo a img,
    header #top #icacieLogo a img {
        width: calc(var(--horizontal) * 0.636613307);
        height: auto;
    }
    header #bottom div {
        font-size: calc(var(--fontSize) * 0.531441);
    }
    header #top div #date {
        font-size: calc(var(--fontSize) * 0.729);
    }
    /* Styling for the main */
    main h1 {
        font-size: calc(var(--fontSize) * 1.458);
    }
    main form {
        padding: calc(var(--vertical) * 0.313) calc(var(--horizontal) * 0.05);
    }
    main form #firstName label,
    main form #lastName label,
    main form #mailAddress label,
    main form #institution label,
    main form #telephoneNumber label,
    main form #subject label,
    main form #message label {
        width: calc(var(--horizontal) * 0.290778555);
    }
    main form #firstName input[type="text"],
    main form #lastName input[type="text"],
    main form #mailAddress input[type="email"],
    main form #institution input[type="text"],
    main form #telephoneNumber input[type="tel"],
    main form #subject input[type="text"],
    main form #message input[type="text"] {
        width: calc(var(--horizontal) * 0.709221444);
    }
    /* Styling for the footer */
    footer {
        margin-top: calc(var(--vertical) * 0);
    }
    footer nav {
        font-size: calc(var(--fontSize) * 2);
    }
    footer nav a img {
        width: auto;
        height: calc(var(--height) * 0.05);
    }
}
/* Media queries for Mobile */
@media screen and (max-width: 767px) {
    /* Styling for the header */
    header #top div #event {
        font-size: calc(var(--fontSize) * 0.5845851);
    }
    header #top div #venue #organization {
        font-size: calc(var(--fontSize) * 0.707347971);
    }
    header #top div #venue div {
        font-size: calc(var(--fontSize) * 0.387420489);
    }
    header #top #organizationLogo a img,
    header #top #icacieLogo a img {
        width: calc(var(--horizontal) * 0.847332311);
        height: auto;
    }
    header #bottom div {
        font-size: calc(var(--fontSize) * 0.4782969);
    }
    header #top div #date {
        font-size: calc(var(--fontSize) * 0.531441);
    }
    /* Styling for the main */
    main h1 {
        font-size: calc(var(--fontSize) * 1.062882);
    }
    main form {
        padding: calc(var(--vertical) * 0.28) calc(var(--horizontal) * 0.05);
    }
    main form #firstName label,
    main form #lastName label,
    main form #mailAddress label,
    main form #institution label,
    main form #telephoneNumber label,
    main form #subject label,
    main form #message label {
        width: calc(var(--horizontal) * 0.454392739);
    }
    main form #firstName input[type="text"],
    main form #lastName input[type="text"],
    main form #mailAddress input[type="email"],
    main form #institution input[type="text"],
    main form #telephoneNumber input[type="tel"],
    main form #subject input[type="text"],
    main form #message input[type="text"] {
        width: calc(var(--horizontal) * 0.54560726);
    }
    main form #firstName label,
    main form #lastName label,
    main form #mailAddress label,
    main form #institution label,
    main form #telephoneNumber label,
    main form #subject label,
    main form #message label,
    main form #firstName input[type="text"],
    main form #lastName input[type="text"],
    main form #mailAddress input[type="email"],
    main form #institution input[type="text"],
    main form #telephoneNumber input[type="tel"],
    main form #subject input[type="text"],
    main form #message input[type="text"] {
        font-size: calc(var(--fontSize) * 0.729);
    }
    /* Styling of the footer */
    footer {
        margin-top: calc(var(--vertical) * 0.52);
    }
    footer nav {
        font-size: calc(var(--fontSize) * 1.062882);
    }
    footer nav a img {
        width: auto;
        height: calc(var(--height) * 0.02657205);
    }
}
