<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Andy Ewen Gaspard" />
        <meta name="repository" content="https://github.com/DONALDBZR/icacie" />
        <title>Assignment</title>
        <link rel="stylesheet" href="./Stylesheets/Keynotes.css" />
        <link
            rel="shortcut icon"
            href="http://stormysystem.ddns.net/StormySystems/Images/Logo.ico"
            type="image/x-icon"
        />
        <script
            src="https://kit.fontawesome.com/300aa59193.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <header>
            <nav id="top">
                <div id="icacieLogo">
                    <a href="./">
                        <img
                            src="./Images/icacieLogo.png"
                            alt="ICACIE's Logo"
                        />
                    </a>
                </div>
                <div>
                    <div id="event">
                        7th International Conference on Advanced Computing and
                        Intelligent Engineering [ICACIE 2022]
                    </div>
                    <div id="venue">
                        <div id="organization">Universite Des Mascareignes</div>
                        <div>
                            Rose-Hill Campus: Avenue de la Concorde, Roches
                            Brunes, Rose-Hill, Mauritius
                        </div>
                        <div>
                            Swami Dayanand Campus: Beau Plan Round About,
                            Pamplemousses, Mauritius
                        </div>
                        <div>
                            Bel Air Campus: Ex-Mauritius Research Council,
                            Corner Trou d’Eau-Douce Branch Road, Royal Road, Bel
                            Air, Flacq, Mauritius
                        </div>
                    </div>
                    <div id="date">dd - dd/mm/yyyy</div>
                </div>
                <div id="organizationLogo">
                    <a href="./">
                        <img src="./Images/udmLogo.png" alt="Venue's Logo" />
                    </a>
                </div>
            </nav>
            <nav id="bottom">
                <div>
                    <a href="./">Home</a>
                </div>
                <div>
                    <a href="./Login">Login</a>
                </div>
                <div>
                    <a href="./Register">Register</a>
                </div>
                <div>
                    <a href="./Contact">Contact Us</a>
                </div>
                <div>
                    <a href="./Sponsors">Sponsors</a>
                </div>
                <div>
                    <a href="./Gallery">Gallery</a>
                </div>
                <div>
                    <a href="./About">About</a>
                </div>
                <div>
                    <a href="./CallForPapers">Call For Papers</a>
                </div>
                <div>
                    <a href="./Keynotes">Keynotes</a>
                </div>
                <div>
                    <a href="./Members">Commitee Members</a>
                </div>
            </nav>
        </header>
        <main>
            <div>
                <div class="card">
                    <div class="profilePicture">
                        <img
                            src="./Images/profilePictures/joker.jpg"
                            alt="Joker"
                        />
                    </div>
                    <div class="name">Joker</div>
                    <div class="profession">
                        data structures and algorithms researchor
                    </div>
                    <div class="institution">
                        université des mascareignes, mauritius
                    </div>
                    <div class="link">
                        <a
                            href="https://www.youtube.com/watch?v=NgrM4_JMi9w"
                            class="fa fa-video faVideo"
                            target="_blank"
                        ></a>
                    </div>
                </div>
                <div class="card">
                    <div class="profilePicture">
                        <img
                            src="./Images/profilePictures/johnny.jpg"
                            alt="Johnny Sins"
                        />
                    </div>
                    <div class="name">Johnny Sins</div>
                    <div class="profession">Software Project Manager</div>
                    <div class="institution">Google Inc., USA</div>
                    <div class="link">
                        <a
                            href="https://www.youtube.com/watch?v=JiCRo8p0CqA"
                            class="fa fa-video faVideo"
                            target="_blank"
                        ></a>
                    </div>
                </div>
                <div class="card">
                    <div class="profilePicture">
                        <img
                            src="./Images/profilePictures/massimo.jfif"
                            alt="Massimo Torricelli"
                        />
                    </div>
                    <div class="name">Massimo Torricelli</div>
                    <div class="profession">Blockchain Developer</div>
                    <div class="institution">Shopify, Canada</div>
                    <div class="link">
                        <a
                            href="/Massimo/Link"
                            class="fa fa-video faVideo"
                            target="_blank"
                        ></a>
                    </div>
                </div>
                <div class="card">
                    <div class="profilePicture">
                        <img
                            src="./Images/profilePictures/john.jfif"
                            alt="John Wick"
                        />
                    </div>
                    <div class="name">John Wick</div>
                    <div class="profession">Senior Software Engineer</div>
                    <div class="institution">Tencent Inc., China</div>
                    <div class="link">
                        <a
                            href="https://www.youtube.com/watch?v=2y3pZeGkDBk"
                            class="fa fa-video faVideo"
                            target="_blank"
                        ></a>
                    </div>
                </div>
                <div class="card">
                    <div class="profilePicture">
                        <img
                            src="./Images/profilePictures/Alan.jpg"
                            alt="Alan Garner"
                        />
                    </div>
                    <div class="name">Alan Garner</div>
                    <div class="profession">Junior Software Engineer</div>
                    <div class="institution">Riot Games Inc., USA</div>
                    <div class="link">
                        <a
                            href="https://www.youtube.com/watch?v=HsFQwOEwTVA"
                            class="fa fa-video faVideo"
                            target="_blank"
                        ></a>
                    </div>
                </div>
                <div class="card">
                    <div class="profilePicture">
                        <img
                            src="./Images/profilePictures/JLWonderWoman.jpg"
                            alt="Gal Gadot"
                        />
                    </div>
                    <div class="name">Gal Gadot</div>
                    <div class="profession">Dean</div>
                    <div class="institution">
                        université des mascareignes, mauritius
                    </div>
                    <div class="link">
                        <a
                            href="https://www.youtube.com/watch?v=cpDYnfbD8lc"
                            class="fa fa-video faVideo"
                            target="_blank"
                        ></a>
                    </div>
                </div>
                <div class="card">
                    <div class="profilePicture">
                        <img
                            src="./Images/profilePictures/jinx.jpg"
                            alt="Pow Pow"
                        />
                    </div>
                    <div class="name">Pow Pow</div>
                    <div class="profession">Software Penetration Tester</div>
                    <div class="institution">Orange, France</div>
                    <div class="link">
                        <a
                            href="https://www.youtube.com/watch?v=qhs5DTaOzHU"
                            class="fa fa-video faVideo"
                            target="_blank"
                        ></a>
                    </div>
                </div>
                <div class="card">
                    <div class="profilePicture">
                        <img
                            src="./Images/profilePictures/sarahFortune.jpg"
                            alt="Sarah Fortune"
                        />
                    </div>
                    <div class="name">Sarah Fortune</div>
                    <div class="profession">Cyber Security Analyst</div>
                    <div class="institution">Vodafone, UK</div>
                    <div class="link">
                        <a
                            href="https://www.youtube.com/watch?v=7zALTVH9xnU"
                            class="fa fa-video faVideo"
                            target="_blank"
                        ></a>
                    </div>
                </div>
                <div class="card">
                    <div class="profilePicture">
                        <img
                            src="./Images/profilePictures/pokimane.jfif"
                            alt="Luxanna"
                        />
                    </div>
                    <div class="name">Luxanna</div>
                    <div class="profession">Senior Software Engineer</div>
                    <div class="institution">Cisco Systems, USA</div>
                    <div class="link">
                        <a
                            href="/Keynotes"
                            class="fa fa-video faVideo"
                            target="_blank"
                        ></a>
                    </div>
                </div>
                <div class="card">
                    <div class="profilePicture">
                        <img
                            src="./Images/profilePictures/violet.jpg"
                            alt="Vi"
                        />
                    </div>
                    <div class="name">Vi</div>
                    <div class="profession">Junior Software Engineer</div>
                    <div class="institution">Link By Net, Mauritius</div>
                    <div class="link">
                        <a
                            href="/Keynotes"
                            class="fa fa-video faVideo"
                            target="_blank"
                        ></a>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <nav>
                <a
                    href="https://www.facebook.com/icacie.conf/"
                    class="fa fa-facebook faFacebook"
                    target="_blank"
                >
                </a>
                <a
                    href="https://www.linkedin.com/groups/10339002"
                    class="fa fa-linkedin faLinkedIn"
                    target="_blank"
                ></a>
                <a href="https://udm.ac.mu" target="_blank">
                    <img src="./Images/udmFooterLogo.png" alt="UDM Logo" />
                </a>
                <a href="./Dates" class="fa fa-calendar faCalendar"></a>
            </nav>
            <div>Copyright © 2022 All rights reserved</div>
        </footer>
    </body>
</html>
